@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
/*font-family: 'DotGothic16', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
/*font-family: 'Raleway Dots', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/* font-family: 'Poppins', sans-serif; */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    color: #fff;
    background: #000;
}

a {
    color: #fff;
    text-decoration: none;
}

li {
    list-style: none;
    align-items: center;
}

span {
    color: #56cfe1;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    position: relative;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
}

.page {
    height: 100vh;
    width: 100%;
}

.page1 {
    position: relative;
    background-color: #000;
    align-items: center;
    z-index: 0;
}

.text {
    display: flex;
    position: absolute;
    top: 25%;
    font-size: 100px;
    z-index: 2;

}

.text h1 {
    color: #fff;
    animation: slide 6000ms linear infinite;
    letter-spacing: 10px;
    white-space: nowrap;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.text h1 span {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.text-1 h3 {
    font-size: 30px;
    position: absolute;
    text-transform: uppercase;
    top: 55%;
}

.text-2 h3 {
    font-size: 30px;
    position: absolute;
    text-transform: uppercase;
    top: 55%;
    left: 65%;
}

.page2 {
    background-color: #000;
    z-index: 0;
    display: flex;
}

.p2-text-left h2 {
    margin-top: 8vh;
    font-size: 35px;
}

.p2-text-left p {
    font-size: 30px;
    margin-top: 2.5vh;
}

.p2-text-right {
    font-size: 30px;
    margin-top: 59vh;
    margin-left: 9vw;
    width: 40vw;
    height: 30vh;
}

.p2-text-right ul {
    display: table-cell;
    width: 35vw;
    z-index: 0;
    align-items: center;
}
.p2-text-right ion-icon,img{
    padding-top: 10px;
padding-right: 10px;
}
.p2-text-right img{
    width: 40px;
    height: auto;
    align-self: center;
}


.page3 {
    background-color: #000;
    box-shadow: 0px -20px 25px 25px rgba(0, 0, 0, 0.53);
    position: relative;
    height: 250vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.page3 h2 {
    position: absolute;
    font-size: 35px;
    margin-top: 8vh;
    margin-left: 5vw;
}

.page3 h2::after {
    content: "";
    display: block;
    position: relative;
    top: -28px;
    width: 300px;
    height: .5px;
    margin-left: 29vw;
    background-color: #56cfe1;

}


.over-layer{
    position: relative;
    width: 35vw;
    height: 20vh;
    padding: 12px;
    background-color: #121b2b;
    border-radius: 8px;
}
.position-right{
    

    top: 6vh;
    right: 7vw;
}
.position-left{
    top: 6vh;
}
.feature-project{
    font-size: 20px;
    color:#56cfe1;
}
.project-name{
    font-size: 35px;
}
.project-name:hover{
    color:#56cfe1 ;
}
.project-links{
    margin-top: 2vh;
    font-size: 25px;

}
.project-links a :hover{
color: #56cfe1;
}


                    /* project-1 */

.project{
    display: flex;
    margin-top: 22vh;   
}

.project-1-left img {
    width: 50vw;
    height: auto;
}

.project-1-right {
    width: 28vw;
    display: flex;
    flex-direction: column;
    text-align: right;
    
}
.project-1-right ul{
    display: flex;
    flex-direction: row;
    margin-top:8vh;
    justify-content: space-evenly;
}


                 /* project-2 */



.project-2-left{
    margin-left: 5vw;
    width:28vw;
}
.project-2-right img {
    width: 50vw;
    height: auto;
}
.project-2-left ul{
    display: flex;
    flex-direction: row;
    margin-top:8vh;
    justify-content: space-evenly;
}


                /* project-3 */



.project-3-left img{
    width: 50vw;
    height: auto;
}
.project-3-right{
    width: 28vw;
    display: flex;
    flex-direction: column;
    text-align: right;
}
.project-3-right ul{
    display: flex;
    flex-direction: row;
    margin-top:8vh;
    justify-content: space-evenly;
    font-weight: 100;
}



.page4 {
    background-color: #000;
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading{
    display: flex;
    margin-top: 15vh;
    flex-direction: column;
    align-items: center;
}
.heading h2{
    display: flex;
    
    font-size: 45px;
}
.heading p{
    margin-top: 3vh;
    text-align: center;
}
.heading a{
    border: 2px #fff solid;
    border-radius:4px ;
    margin-top: 5vh;
    padding: 10px 20px;
    font-size: 18px;
}

.heading a:is(:hover,:focus){
    border: #ffe1a8 solid;
    color: #ffe1a8;
    translate: 0.8sec ease-in;
    /* box-shadow: #ffe1a8 13px 13px 4px -5px; */
    /* outline-offset: 3px; */

}
.copyright{
    position: absolute;
    bottom: 0;
    margin-bottom: 4vh;
}
.copyright :hover{
    color: #ffe1a8;
}

                 /* left and right  */


.socials {
    position: fixed;
    bottom: 0;
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-left: 3vw;
    font-size: 30px;
}

.socials::after {
    content: "";
    display: block;
    width: .5px;
    height: 150px;
    margin-left: .8vw;
    background-color: #fff;
}

.social:hover {
    transform: translateY(-1px);
    color: #ffe1a8;

}

.gmail {
    font-family: 'Poppins', sans-serif;
    position: fixed;
    display: flex;
    bottom: 0;
    right: 3vw;
    display: flex;
    align-content: center;
    font-size: 16px;
    writing-mode: vertical-rl;
    letter-spacing: .2rem;
}

.gmail a:hover {
    transform: translateY(-1px);
    color: #ffe1a8;
}

.gmail::after {
    content: "";
    display: block;
    width: .5px;
    height: 100px;
    margin-right: 1vw;
    background-color: #fff;
}

/* .instagram:hover {
    color: #f72585;
}

.linkedin:hover {
    color: #0353a4;
}

.twitter:hover {
    color: #3f37c9;
}

.github:hover {
    color: #fff;
} */
/* width */
::-webkit-scrollbar {
    background: #000;
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px #000;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fff;
}



/* web for tab*/


@media screen and (max-width: 820px) {

    /* canvas {
        width: vw;
        height: 100vh;
        z-index: 9;
        position: relative;
    } */
    .page1 {
        background-color: red;
    }
}


